#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // 기본값: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 기본값: 10
#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&lt {
    flavor = "balanced";
    quick-tap-ms = <175>;
    tapping-term-ms = <280>;
    require-prior-idle-ms = <50>;
    retro-tap;
};

/ {
    combos {
        compatible = "zmk,combos";

        // ▄▄▄▄ layers
        // ▄▄▄▄ modifiers

        cb_mod_ctrl {
            bindings = <&kp LCTRL>;
            key-positions = <24 13>;
            timeout-ms = <110>;
        };

        cb_mod_ctrl2 {
            bindings = <&kp LCTRL>;
            key-positions = <16 27>;
            timeout-ms = <110>;
        };

        cb_mod_shift {
            bindings = <&kp LSHIFT>;
            key-positions = <12 23>;
            timeout-ms = <110>;
        };

        cb_mod_shift2 {
            bindings = <&kp LSHIFT>;
            key-positions = <17 28>;
            timeout-ms = <110>;
        };

        cb_mod_alt {
            bindings = <&kp LALT>;
            key-positions = <11 22>;
            timeout-ms = <110>;
        };

        cb_mod_alt2 {
            bindings = <&kp LALT>;
            key-positions = <18 29>;
            timeout-ms = <110>;
        };

        cb_mod_gui {
            bindings = <&kp LGUI>;
            key-positions = <10 21>;
            timeout-ms = <110>;
        };

        cb_mod_gui2 {
            bindings = <&kp LGUI>;
            key-positions = <19 30>;
            timeout-ms = <110>;
        };

        // ▄▄▄▄ keys

        cb_fj_caps_word {
            bindings = <&caps_word>;
            key-positions = <13 16>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n1 {
            bindings = <&kp N1>;
            key-positions = <0 10>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n2 {
            bindings = <&kp N2>;
            key-positions = <1 11>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n3 {
            bindings = <&kp N3>;
            key-positions = <2 12>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n4 {
            bindings = <&kp N4>;
            key-positions = <3 13>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n5 {
            bindings = <&kp N5>;
            key-positions = <4 14>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n6 {
            bindings = <&kp N6>;
            key-positions = <5 15>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n7 {
            bindings = <&kp N7>;
            key-positions = <6 16>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n8 {
            bindings = <&kp N8>;
            key-positions = <7 17>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n9 {
            bindings = <&kp N9>;
            key-positions = <18 8>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_n0 {
            bindings = <&kp N0>;
            key-positions = <19 9>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_kor_eng {
            bindings = <&kp LANG1>;
            key-positions = <27 26>;
            layers = <0>;
            timeout-ms = <110>;
        };

        cb_chn {
            bindings = <&kp LANG2>;
            key-positions = <27 28>;
            layers = <0>;
            timeout-ms = <110>;
        };
    };

    macros {
        accent: acute {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&macro_param_2to1 &kp MACRO_PLACEHOLDER>;

            label = "ACUTE";
        };

        sql01: sql01 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sql01 &kp LS(S) &kp LS(E) &kp LS(L) &kp LS(E) &kp LS(C) &kp LS(T) &kp RET &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp STAR &kp RET &kp LS(F) &kp LS(R) &kp LS(O) &kp LS(M) &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp E &kp C &kp O &kp M &kp M &kp R &kp E &kp T &kp A &kp I &kp L &kp DOT &kp RET &kp LS(W) &kp LS(H) &kp LS(E) &kp LS(R) &kp LS(E) &kp SPACE &kp N1 &kp EQUAL &kp N1>;
            label = "SQL01";
        };

        mouse_right_5x: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT>;
            label = "NEW_MACRO";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_left_5x: mouse_left_3x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT>;
            label = "MOUSE_LEFT_3X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_up_5x: mouse_up_5x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP>;
            label = "MOUSE_UP_5X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_down_5x: mouse_down_5x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN>;
            label = "MOUSE_DOWN_5X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_right_10x: mouse_roght_10x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT &mmv MOVE_RIGHT &mouse_right_5x>;
            label = "MOUSE_ROGHT_10X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_left_10x: mouse_left_10x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT &mmv MOVE_LEFT &mouse_left_5x>;
            label = "MOUSE_LEFT_10X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_up_10x: mouse_up_10x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP &mmv MOVE_UP &mouse_up_5x>;
            label = "MOUSE_UP_10X";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mouse_down_10x: mouse_down_10x {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN &mmv MOVE_DOWN &mouse_down_5x>;
            label = "MOUSE_DOWN_10X";
            wait-ms = <10>;
            tap-ms = <10>;
        };
    };

    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            require-prior-idle-ms = <50>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            require-prior-idle-ms = <50>;
        };

        a_acute: a_acute {
            compatible = "zmk,behavior-mod-morph";
            label = "A_ACUTE";
            bindings = <&accent RA(E) A>, <&accent RA(E) LS(A)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        o_acute: o_acute {
            compatible = "zmk,behavior-mod-morph";
            label = "O_ACUTE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(E) O>, <&accent RA(E) LS(O)>;
        };

        e_acute: e_acute {
            compatible = "zmk,behavior-mod-morph";
            label = "E_ACUTE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(E) E>, <&accent RA(E) LS(E)>;
        };

        i_acute: i_acute {
            compatible = "zmk,behavior-mod-morph";
            label = "I_ACUTE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(E) I>, <&accent RA(E) LS(I)>;
        };

        u_acute: u_acute {
            compatible = "zmk,behavior-mod-morph";
            label = "U_ACUTE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(E) U>, <&accent RA(E) LS(U)>;
        };

        a_tilde: a_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "A_TILDE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(N) A>, <&accent RA(N) LS(A)>;
        };

        o_tilde: o_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "O_TILDE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(N) O>, <&accent RA(N) LS(O)>;
        };

        a_circ: a_circ {
            compatible = "zmk,behavior-mod-morph";
            label = "A_CIRC";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(I) A>, <&accent RA(I) LS(A)>;
        };

        o_circ: o_circ {
            compatible = "zmk,behavior-mod-morph";
            label = "O_CIRC";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(I) O>, <&accent RA(I) LS(O)>;
        };

        e_circ: e_circ {
            compatible = "zmk,behavior-mod-morph";
            label = "E_CIRC";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(I) E>, <&accent RA(I) LS(E)>;
        };

        a_grave: a_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "A_GRAVE";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            bindings = <&accent RA(GRAVE) A>, <&accent RA(GRAVE) LS(A)>;
        };

        thl: thl {
            compatible = "zmk,behavior-hold-tap";
            label = "THL";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            tapping-term-ms = <280>;
            hold-trigger-key-positions = <5 15 26 7 8 9 17 18 19 28 29 30 31 16 27 6 35 36 37>;
            hold-trigger-on-release;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
        };

        thr: thr {
            compatible = "zmk,behavior-hold-tap";
            label = "THR";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            tapping-term-ms = <280>;
            hold-trigger-on-release;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        td_bracket: td_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            tapping-term-ms = <350>;
        };

        td_esc_capslock: td_esc_capslock {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_CAPSLOCK";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp CAPSLOCK>;

            tapping-term-ms = <350>;
        };

        td_parenthesis: td_parenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            tapping-term-ms = <350>;
        };

        mo_to: mo_to {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TO";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        td_quote_backslashpipe: td_quote_backslashpipe {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTE_BACKSLASHPIPE";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp BACKSLASH>;
        };

        td_quote_underscore: td_quote_underscore {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTE_UNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp UNDER>;
        };

        td_left_bracket_parenthesis: td_left_bracket_parenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT_BRACKET_PARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_PARENTHESIS>;
        };

        td_right_bracket_parenthesis: td_right_bracket_parenthesis {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHT_BRACKET_PARENTHESIS";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_PARENTHESIS>;
        };

        td_f: td_f {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_F";
            #binding-cells = <0>;
            bindings = <&kp F>, <&mt LCTRL F>;
        };

        td_d: td_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_D";
            #binding-cells = <0>;
            bindings = <&kp D>, <&mt LSHIFT D>;
        };

        td_s: td_s {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_S";
            #binding-cells = <0>;
            bindings = <&kp S>, <&mt LALT S>;
        };

        td_a: td_a {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_A";
            #binding-cells = <0>;
            bindings = <&kp A>, <&mt LGUI A>;
        };

        td_j: td_j {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_J";
            #binding-cells = <0>;
            bindings = <&kp J>, <&mt LCTRL J>;
        };

        td_k: td_k {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_K";
            #binding-cells = <0>;
            bindings = <&kp K>, <&mt LSHIFT K>;
        };

        td_l: td_l {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L";
            #binding-cells = <0>;
            bindings = <&kp L>, <&mt LALT L>;
        };

        td_semicolon: td_semicolon {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&mt LGUI SEMICOLON>;
        };

        td_tab_l_ctrl_r_nav_bracket_ins: td_tab_l_ctrl_r_nav_bracket_ins {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_TAB_L_CTRL_R_NAV_BRACKET_INS";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&lt 1 TAB>;
        };

        td_und_l_thumb_r_mmoderate: td_und_l_thumb_r_mmoderate {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_UND_L_THUMB_R_MMODERATE";
            #binding-cells = <0>;
            bindings = <&kp UNDERSCORE>, <&lt 3 UNDERSCORE>;
        };

        td_graveaccent_l_pinky_np: td_graveaccent_l_pinky_np {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_GRAVEACCENT_L_PINKY_NP";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&lt 5 GRAVE>;
        };

        td_bspc_bt_fn: td_bspc_bt_fn {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BSPC_BT_FN";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&lt 4 BSPC>;
        };

        td_lclk_alt: td_lclk_alt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LCLK_ALT";
            #binding-cells = <0>;
            bindings = <&mkp LCLK>, <&hold_mkp LALT LCLK>;
        };

        layer_mkp: layer_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_MKP";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            retro-tap;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
        };

        hold_mkp: hold_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MKP";
            bindings = <&kp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            flavor = "balanced";
            retro-tap;
        };

        td_rclk_ctrl: td_rclk_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RCLK_CTRL";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>, <&hold_mkp LCTRL RCLK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                            &kp Q  &kp W  &kp E                        &kp R                             &kp T        &kp Y      &kp U           &kp I      &kp O    &kp P
                            &td_a  &td_s  &td_d                        &td_f                             &kp G        &kp H      &td_j           &td_k      &td_l    &td_semicolon
&td_graveaccent_l_pinky_np  &kp Z  &kp X  &kp C                        &kp V                             &kp B        &kp N      &kp M           &kp COMMA  &kp DOT  &kp FSLH       &td_quote_backslashpipe
                                          &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE    &kp ENTER  &td_bspc_bt_fn  &kp DEL
            >;
        };

        tab_l_ctrl_r_nav_bracket_ins {
            bindings = <
                  &kp LC(Q)  &kp LC(W)  &kp LC(E)                    &kp LC(R)                         &kp LC(T)    &kp PG_UP  &kp HOME        &kp UP_ARROW                  &kp END                        &kp SCROLLLOCK
                  &kp LC(A)  &kp LC(S)  &kp LC(D)                    &kp LC(F)                         &kp LC(G)    &kp PG_DN  &kp LEFT        &kp DOWN                      &kp RIGHT                      &kp INSERT
&td_esc_capslock  &kp LC(Z)  &kp LC(X)  &kp LC(C)                    &kp LC(V)                         &kp LC(B)    &kp LC(N)  &kp LC(M)       &td_left_bracket_parenthesis  &td_right_bracket_parenthesis  &kp PRINTSCREEN  &none
                                        &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE    &kp ENTER  &td_bspc_bt_fn  &kp DEL
            >;
        };

        g_rt_mslow {
            bindings = <
       &none     &none         &none                        &none                             &none        &msc MOVE_Y(10)   &msc MOVE_X(-10)  &mmv MOVE_UP    &msc MOVE_X(10)  &none
       &kp LGUI  &td_lclk_alt  &kp LSHIFT                   &td_rclk_ctrl                     &none        &msc MOVE_Y(-10)  &mmv MOVE_LEFT    &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp LCLK
&none  &none     &none         &none                        &none                             &none        &none             &none             &none           &none            &none      &mkp RCLK
                               &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE    &kp RET           &td_bspc_bt_fn    &kp DELETE
            >;
        };

        l_thumb_r_mmoderate {
            bindings = <
       &none     &none         &mo 6                        &none                             &none        &msc MOVE_Y(20)   &msc MOVE_X(-20)  &mouse_up_5x    &msc MOVE_X(20)  &none
       &kp LGUI  &td_lclk_alt  &kp LSHIFT                   &td_rclk_ctrl                     &none        &msc MOVE_Y(-20)  &mouse_left_5x    &mouse_down_5x  &mouse_right_5x  &mkp LCLK
&none  &none     &none         &mo 2                        &none                             &none        &none             &none             &none           &none            &none      &mkp RCLK
                               &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE    &kp RET           &td_bspc_bt_fn    &kp DELETE
            >;
        };

        bspc_bt_fn {
            bindings = <
            &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2                 &bt BT_SEL 1                      &bt BT_SEL 0    &kp C_VOL_UP  &kp F7          &kp F8      &kp F9  &kp F10
            &td_a         &td_s         &td_d                        &td_f                             &kp C_BRI_UP    &kp K_MUTE    &kp F4          &kp F5      &kp F6  &kp F11
&bt BT_CLR  &none         &none         &none                        &none                             &kp C_BRI_DN    &kp C_VOL_DN  &kp F1          &kp F2      &kp F3  &kp F12  &none
                                        &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE       &kp ENTER     &td_bspc_bt_fn  &kp DELETE
            >;
        };

        l_pinky_np {
            bindings = <
       &kp N1  &kp N2  &kp N3                       &kp N4                            &kp N5             &kp N6     &kp N7          &kp N8   &kp N9  &kp N0
       &td_a   &td_s   &td_d                        &td_f                             &td_bracket        &kp EQUAL  &kp N4          &kp N5   &kp N6  &kp STAR
&none  &none   &none   &none                        &none                             &td_parenthesis    &kp MINUS  &kp N1          &kp N2   &kp N3  &kp SLASH  &kp PLUS
                       &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE          &kp ENTER  &td_bspc_bt_fn  &kp DEL
            >;
        };

        b_rt_mfast {
            bindings = <
       &none     &none         &none                        &none                             &none        &msc MOVE_Y(10)   &msc MOVE_X(-10)  &mmv MOVE_UP    &msc MOVE_X(10)  &none
       &kp LGUI  &td_lclk_alt  &kp LSHIFT                   &td_rclk_ctrl                     &none        &msc MOVE_Y(-10)  &mmv MOVE_LEFT    &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp LCLK
&none  &none     &none         &none                        &none                             &none        &none             &none             &none           &none            &none      &mkp RCLK
                               &td_und_l_thumb_r_mmoderate  &td_tab_l_ctrl_r_nav_bracket_ins  &kp SPACE    &kp RET           &td_bspc_bt_fn    &kp DELETE
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};
